<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Epic Button Game</title>
</head>

<body>
    <div class="container">
        <h1>The button has been pressed <span id = "total"><%= count %></span> time(s)</h1>
        <div>
            <h3>Push the button to update the count!</h3>
            <button id="epic" type="button" class="btn btn-info">Push the EPIC button</button>
        </div>
        <div class = "space">
                <button id="reset" type="button" class="btn btn-danger">Reset</button>
        </div>
        
    </div>
    <script src="app.js"></script>
</body>

</html>